<!DOCTYPE html>
<html lang="en" ng-app="Yike">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>豆瓣一刻</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet/less" href="./public/less/main.less">
	<script src="./public/libs/less.js"></script>
</head>
<body>
	<div class="viewport">
		<!-- 侧边导航 -->
		<div  ng-class="{'navs':true,'pull-right':toggled}" ng-controller="NavsController">
			<dl>
				<dt class="login">
					<div class="avatar">
						<img src="./public/images/avatar.png" alt="">
					</div>
					<span>登录</span>
				</dt>
				<dd ng-class="{active:$index==key}" ng-repeat="nav in navs">
					<a href="{{nav.link}}" ng-class="{{nav.icon}}">
						<span>{{nav.text}}</span>
					</a>
				</dd>
				
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<!-- 头部 -->
		<div ng-class="{'header':true,'pull-right':toggled}">
			<a href="javascript:;" class="menu icon-menu" ng-click="toggle()"></a>
			<h2>今日一刻</h2>
			<a href="javascript:;" class="search icon-search"></a>
		</div>
		<div class="container">
			<!-- 主体 -->
			<div  ng-class="{'body':true,'pull-right':toggled}" ng-view>
				
			</div>
		</div>
	</div>
	<script src="./bower_components/angular/angular.min.js"></script>
	<script src="./bower_components/angular-route/angular-route.min.js"></script>
	<script src="./scripts/app.js"></script>
	<script src="./scripts/controller/NavsController.js"></script>
	<script src="./scripts/controller/TodayController.js"></script>
	<script>
	
	</script>
</body>
</html>