<div class="item">
				<!-- 日期分类 -->
				<div class="mark">{{date}}</div>
				<ul class="posts">
					<!-- 文章 -->
					<li ng-switch on="post.display_style" ng-repeat="post in posts">
						<span href="javascript:;" class="tag">{{post.column.name}}</span>
						<div class="cont">
							<h3>{{post.title}}</h3>
							<div class="brief" ng-switch-when="10001">
								<p>{{post.abstract}}</p>
								
							</div>
							<div class="brief" ng-switch-when="10002">
								<p>{{post.abstract}}</p>
								<div class="thumb">
									<img ng-src="{{post.thumbs[0].small.url}}" alt="">
								</div>
							</div>		
							<div class="brief" ng-switch-when="10003">
								<div class="gallery">
									<div class="img-box" ng-repeat="thumb in post.thumbs">
										<img ng-src="{{thumb.small.url}}" alt="">
									</div>
									
								</div>
							</div>	

						</div>
					</li>
					
				</ul>
			</div>